.form {
  margin-top: 10px;
}
.search-input {
  margin: auto;
}
.user-profile {
  margin: auto;
}
.card-header {
  text-align: center;
  font-weight: bold;
}
.user-image {
  border-radius: 50%;
  width: 25%;
}
.image {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-picture-layout {
  width: 25%;
}
.user-picture {
  width: 25%;
  border-radius: 50%;
}
.users-list {
  margin-top: 10px;
}
.message-text-layout {
  color: aquamarine;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.message-text {
  color: rgb(112, 143, 239);
  align-self: flex-end;
}
.user-message {
  padding: 1em;
}
.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}
.messageBox {
  display: inline-block;
  max-width: 100%;
}
.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}
.justifyEnd {
  justify-content: flex-end;
}