.form {
  margin-top: 10px;
}
.search-input {
  margin: auto;
}
.user-profile {
  margin: auto;
}
.card-header {
  text-align: center;
  font-weight: bold;
}
.user-image {
  border-radius: 50%;
  width: 25%;
}
.image {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-picture-layout {
  width: 25%;
}
.user-picture {
  width: 25%;
  border-radius: 50%;
}
.users-list {
  margin-top: 10px;
}
.message-text-layout {
  color: aquamarine;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.message-text {
  color: rgb(112, 143, 239);
  align-self: flex-end;
}
.user-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.messages {
  overflow: auto;
  flex: auto;
}
.messageBox {
  display: flex;

}
.messageContainer {
  display: flex;
  margin-top: 3px;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 50%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 10%;
  }
  .innerContainer {
    width: 20%;
    height: 50%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .innerContainer {
    width: 75%;
  }
}